.wrapper {
  background-color: var(--lighter-grey);
  width: 100%;
  padding: 90px 0 30px;
}

.container {
  background-color: var(--white);
  width: var(--default-width-small);
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d8d8d8;
}

.title {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 2rem;
  font-weight: 500;
  margin: 20px 0 40px;
}

.content {
  width: 100%;
  max-width: 755px;
  margin: 0 auto;
}
